<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487487021475-eqnq8l8lcmc7ibmpnq7kv8q4ihkl9mto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487487021475-eqnq8l8lcmc7ibmpnq7kv8q4ihkl9mto</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487487021475-710kpm6eth81m409jfq92cnsght3cbrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQpnoq3PLQ074IzZoencMYfNVKAIdaMY</string>
	<key>GCM_SENDER_ID</key>
	<string>487487021475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.yogaer</string>
	<key>PROJECT_ID</key>
	<string>yogaer</string>
	<key>STORAGE_BUCKET</key>
	<string>yogaer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487487021475:ios:c005739ec9ba0923e8ba16</string>
</dict>
</plist>